name: Direct_To_HuggingFace_CDN
on:
  workflow_dispatch:
    inputs:
      video_url:
        description: 'لینکی ڤیدیۆکە'
        required: true
      file_name:
        description: 'ناوی فایلەکە'
        required: true
        default: 'video.mp4'

jobs:
  upload_job:
    runs-on: ubuntu-latest
    steps:
      - name: ⬇️ Download Video (Test & Read Error)
        run: |
          curl -s -L -k -A "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36" \
               -o "video_temp.mp4" \
               "${{ inputs.video_url }}"
               
          echo "==== قەبارەی فایلەکە ===="
          ls -lh video_temp.mp4
          
          echo "==== ناوەڕۆکی نامەی سێرڤەرەکە ===="
          head -c 500 video_temp.mp4
