name: Download Movie File

on:
  workflow_dispatch: # ئەمە ڕێگەت پێدەدات بە دەستی (Manual) کۆدەکە ئیش پێبکەیت

jobs:
  download-and-save:
    runs-on: ubuntu-latest

    steps:
      - name: داگرتنی فلیمەکە لە سێرڤەرەوە
        run: |
          wget -O movie.mp4 "http://45.155.90.34:8080/movie/242897123493/699a2acb2d4c8/72999.mp4?token=fUdcX.fUfazyz.X.X.ydHddXfzaH.X.y.IQ.mp4.cb5afcffba4651761c0071481aea6ab517709291406f3859201f4393ee03807a"

      - name: هەڵگرتنی فلیمەکە وەک Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-downloaded-movie
          path: movie.mp4
